<div class="ui container">
  <div class="ui segment" id="blog">
    <div class="left ui rail">
      <div class="ui sticky" style="width: 272px !important; height: 262.531px !important; left: 238px;">
        <h3>LEFT RAIL</h3>
        <img>
      </div>
    </div>

    <div class="right ui rail">
      <div class="ui sticky">
        <h3>RIGHT RAIL</h3>
        <img>
      </div>
    </div>


    <h1 class="ui horizontal divider header">Welcome</h1>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
    <p>Here</p>
  </div>
</div>

