<div class="ui grey inverted very padded segment">
  <div class="ui container">
    <div class="ui basic segment">
      <h1 class="ui inverted header">
        <i class="envelope icon"></i>
        <div class="content">
          Contact me
          <div class="sub header">Have a question or comment? Give me a buzz and I'll get back to you as soon as I can.</div>
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="ui basic segment">
    <div class="ui grid">
      <div class="one column row">
        <div class="column">
          <form class="ui form {{state}}" (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="ui success message">
              <div class="header">Thank you</div>
              <p>I will get back to you soon.</p>
            </div>

            <div class="ui error message">
              <div class="header">Error</div>
              <p>{{errorMessage}}</p>
            </div>

            <div class="twelve wide field required">
              <label>Name</label>
              <input type="text" name="name" placeholder="John Doe" required [(ngModel)]="model.name" #name="ngModel"/>
            </div>

            <div class="twelve wide field required">
              <label>Email</label>
              <input type="email" name="email" placeholder="john.doe@example.org" required [(ngModel)]="model.email" #email="ngModel" />
            </div>

            <div class="twelve wide field required">
              <label>Comments</label>
              <textarea rows="4" name="comments" placeholder="Here are my thoughts" required [(ngModel)]="model.comments" #comments="ngModel"></textarea>
            </div>

            <button class="ui button" type="submit" [disabled]="!contactForm.form.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
