<!-- Computer and Tablet only -->
<div class="ui grid">
  <div class="one column row computer tablet only no-margin-bottom no-padding-bottom">
    <div class="column">
      <div class="ui top attached menu">
        <!-- <div class="item"> -->
        <!--   <img src="assets/images/icon_32.png" /> -->
        <!-- </div> -->

        <a class="item" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="item" routerLink="/blog" routerLinkActive="active">Blog</a>
        <a class="item" routerLink="/contact" routerLinkActive="active">Contact</a>

        <div class="right menu">
          <a class="item" href="https://twitter.com/alanbuttars" target="_blank">
            <i class="twitter icon"></i>
          </a>
          <a class="item" href="https://www.linkedin.com/in/alan-buttars-462b2b70/" target="_blank">
            <i class="linkedin icon"></i>
          </a>
          <a class="item" href="https://github.com/alanbuttars" target="_blank">
            <i class="github icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile only -->
  <div class="one column row mobile only no-margin-bottom no-padding-bottom">
    <div class="column">
      <div class="ui top attached menu">
        <a class="item" (click)="sidebar.toggle()">
          <i class="sidebar icon"></i>
        </a>

        <div class="item">
          Alan Buttars
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui grid" style="margin-top: 0">
  <div class="one column row">
    <div class="column">
      <sui-sidebar-container class="ui bottom attached">
        <sui-sidebar class="inverted vertical" #sidebar>
          <a class="item" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="item" routerLink="/blog" routerLinkActive="active">Blog</a>
          <a class="item" routerLink="/contact" routerLinkActive="active">Contact</a>

          <a class="item" href="https://twitter.com/alanbuttars" target="_blank">
            Twitter <i class="twitter icon"></i>
          </a>
          <a class="item" href="https://www.linkedin.com/in/alan-buttars-462b2b70/" target="_blank">
            LinkedIn <i class="linkedin icon"></i>
          </a>
          <a class="item" href="https://github.com/alanbuttars" target="_blank">
            GitHub <i class="github icon"></i>
          </a>
        </sui-sidebar>

        <sui-sidebar-sibling>
          <router-outlet></router-outlet>
        </sui-sidebar-sibling>
      </sui-sidebar-container>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui grid">
  <div class="one column row">
    <div class="column">
      <div class="ui container">
        <p>&copy; {{formattedYear}} Alan Buttars. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
