<!-- <div *ngIf="post"> -->
<!--   <div class="ui grid"> -->
<!--     <div class="sixteen wide column computer tablet only"> -->
<ng-container *ngIf="post">
  <div class="ui container">
    <div>
      <div class="ui one cards">
        <div class="ui card">
          <div class="ui fluid image">
            <div class="ui black ribbon label massive">
              {{post.title}}
            </div>
            <div class="image">
              <img src="{{post.largeImage}}" alt="{{post.title}}" />
            </div>
          </div>
          <div class="content">
            <div class="meta">
              <span class="date">{{post.date | date: 'longDate'}}</span>
            </div>
            <div class="description">
              {{post.description}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column mobile only">
      <div class="ui one cards">
        <div class="ui card">
          <div class="ui fluid image">
            <div class="ui black ribbon label big">
              {{post.title}}
            </div>
            <a class="image" routerLink="/blog/{{post.id}}">
              <img src="{{post.squareImage}}" alt="{{post.title}}" />
            </a>
          </div>
          <div class="content">
            <div class="header">
              {{post.description}}
            </div>
            <div class="meta">
              <span class="date">{{post.date | date: 'longDate'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-blog-post-1 *ngIf="post.id == '1'"></app-blog-post-1>
  <app-blog-post-2 *ngIf="post.id == '2'"></app-blog-post-2>
  <app-blog-post-3 *ngIf="post.id == '3'"></app-blog-post-3>
  <app-blog-post-4 *ngIf="post.id == '4'"></app-blog-post-4>
  <app-blog-post-5 *ngIf="post.id == '5'"></app-blog-post-5>
  <app-blog-post-6 *ngIf="post.id == '6'"></app-blog-post-6>
  <app-blog-post-7 *ngIf="post.id == '7'"></app-blog-post-7>
  <app-blog-post-8 *ngIf="post.id == '8'"></app-blog-post-8>
</ng-container>


